<div class="row">
  <div class="col-6 col-sm-4 col-md-3">
    <div class="add-station card mb-3">
      <div class="d-flex align-items-center">
        <button style="background-color: transparent; border: none;">
          <img class="card-img" src="https://cdn-icons-png.flaticon.com/512/117/117885.png" alt="Card image cap">
        </button>
      </div>
    </div>
  </div>

  <div *ngFor="let station of stations" class="col-6 col-sm-4 col-md-3">
    <app-station-card [station]="station" (deleteStation)="onDeleteStation(station)"></app-station-card>
  </div>
</div>

<ul class="pagination">
  <li [ngClass]="{disabled:currentPage === 1}" class="page-item previous-item">
    <a (click)="setPage(currentPage - 1)" class="page-link">Previous</a>
  </li>
  <li class="page-item number-item">
    <a (click)="setPage(currentPage)" class="page-link">{{currentPage}}</a>
  </li>
  <li [ngClass]="{disabled:currentPage === lastPage}" class="page-item next-item">
    <a (click)="setPage(currentPage + 1)" class="page-link">Next</a>
  </li>
</ul>
